body {
  font-family: "Outfit", sans-serif;
  background-color: #010922;
  height: 1000px;
}

body::before {
  content: "";
  box-shadow: 50px 50px 900px 150px rgb(161 74 74);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 180px;
  z-index: -999;
}

a {
  color: aliceblue;
}

.ooo + * {
  margin-top: 200px;
}

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: aliceblue;
  padding: 0px 20px 0px 20px;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
  right: 100px;
  left: 100px;
  position: fixed;
  z-index: 1000;
  top: 0;
  background-color: #010922;
  border-radius: 10px;
}

header .a {
  width: min-content;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}

header .b {
  display: flex;
  justify-content: space-between;
  z-index: 44;
}

header .b div {
  border: 1px solid #898cc6;
  border-radius: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 5px;
  margin: auto;
  cursor: pointer;
}
header .b div a {
  text-decoration: none;
  color: aliceblue;
}
main {
  margin: 60px;
}
.cont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 70px;
  justify-items: center;
  align-items: center;
}

.cont .img img {
  max-width: 100%;
  height: auto;
}

.cont .text div {
  color: aliceblue;
  font-size: 90px;
  font-weight: bold;
}

.cont .text p {
  color: aliceblue;
  font-size: 24px;
  display: inline-block;
  font-weight: 100;
}
.cont .text .icons {
  display: flex;
}
.cont .text .icons div {
  margin-right: 15px;
  font-size: 30px;
  border: 1px solid #898cc6;
  border-radius: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 5px;
  padding-top: 5px;
  font-weight: 300;
  margin-top: 10px;
}

.cont .text .icons .buy {
  background-color: #898cc6;
  cursor: pointer;
}

.cont .text .icons .sell a {
  text-decoration: none;
  cursor: pointer;
  color: aliceblue;
}

.buy::after {
  content: "";

  box-shadow: 50px 50px 900px 150px rgb(1, 250, 167);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;

  position: absolute;
  left: 1000px;
  top: -200px;
  z-index: -1;
}

.a::before {
  content: "";

  box-shadow: 10px 10px 900px 100px rgb(161 74 74);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;

  position: absolute;
  left: 300px;
  top: 0px;
  z-index: -1;
}

.sell::before {
  content: "";

  box-shadow: 50px 40px 900px 150px rgba(193, 141, 46, 0.774);
  border-top-left-radius: 3%;
  border-bottom-left-radius: 3%;

  position: absolute;
  left: 100px;

  bottom: 1px;

  z-index: -1;
}

.fot {
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.386);
  color: aliceblue;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 10px;
}

a {
  text-decoration: none;
}

.carousel {
  margin: 0 auto;
  padding: 20px 0;
  max-width: 100%;
  overflow: hidden;
  display: flex;
}
.carousel > * {
  flex: 0 0 100%;
}

.carousel:hover .group {
  animation-play-state: paused;
}

.card {
  width: 100%;
  color: white;
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 30%) 5px 5px 20px 0;
  padding: 20px;
  font-size: xx-large;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  flex: 0 0 calc(33.333% - 20px); /* Adjust based on the number of cards */
  background: #4100da00;
  cursor: pointer;
}

.card2 {
  max-width: 19%;
  color: white;
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 30%) 5px 5px 20px 0;
  padding: 20px;
  font-size: xx-large;
  justify-content: center;
  align-items: center;
  min-height: 165px;
  flex: 0 0 calc(33.333% - 20px); /* Adjust based on the number of cards */
  background: #4100da00;
  cursor: pointer;
}

.group {
  display: flex;
  gap: 20px;
  padding-right: 20px;
  will-change: transform;
  animation: scrolling 10s linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      -100%
    ); /* Adjust based on the number of duplicated cards */
  }
}

.carss h2 {
  font-size: 50px;
  color: aliceblue;
}

.too {
  display: grid;
  justify-items: center;
}

.shown {
  background: #4300da;
  color: aliceblue;
  border: none;
  border-radius: 10px;
  padding: 10px;
}
.carcard {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
}
.card-container {
  width: 300px;
  height: auto;
  background: #14286773;
  border: 1px;
  border-style: solid;
  color: white;
  display: none;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  position: relative;
}

.card-container h3 {
  background: rgba(0, 0, 0, 0.384);
  margin: 0;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

.card-container p {
  margin: 10px 0;
}

.card-container img {
  width: 100%;
  border-radius: 0 0 5px 5px;
  padding-top: 20px;
}

.carcard > :nth-child(1),
.carcard > :nth-child(2),
.carcard > :nth-child(3) {
  display: inline-block;
}

.info-button {
  color: rgb(15, 139, 247);
  background-color: #dddddd00;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.conti {
  display: flex;
  justify-items: center;

  justify-content: center;
}
.conti img {
  max-width: 450px;
  max-height: 450px;
}

.carfeat {
  display: grid;

  gap: 20px;

  color: aliceblue;
}

.carfeat ul {
  list-style: none;
}

.carfeat ul li {
  background-color: rgba(0, 255, 255, 0.064);
  margin: 5px;
  padding: 10px;
  font-size: 20px;
  border-radius: 6px;
  max-width: 600px;
}

.khnatech {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

input[type="file"] {
  margin: auto;
  padding: 1em;
  border: 2px dashed #bbbbbb00;
  background-color: #ffffff00;
  transition: border-color 0.25s ease-in-out;
  width: 185px;
  &::file-selector-button {
    padding: 1em 1.5em;
    border-width: 0;
    border-radius: 2em;
    background-color: hsl(210 70% 30%);
    color: hsl(210 40% 90%);
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    margin-right: 1em;
  }
  &:hover {
    border-color: #888;

    &::file-selector-button {
      background-color: #4300da;
    }
  }
}

.fot::before {
  content: "";
  box-shadow: 50px 50px 900px 150px rgba(170, 10, 194, 0.306);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  position: absolute;
  left: 0px;
  bottom: 70px;
  z-index: 1;
}

header .b div:hover {
  background-color: #4614c5;
  transition: all 0.5s ease;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  overflow: hidden;
  z-index: -3;
}

.background span {
  width: 1vmin;
  height: 1vmin;
  border-radius: 1vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 31;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: #583c87;
  top: 54%;
  left: 29%;
  animation-duration: 7s;
  animation-delay: -73s;
  transform-origin: 12vw 25vh;
  box-shadow: 2vmin 0 0.5759493203873345vmin currentColor;
}
.background span:nth-child(1) {
  color: #ffacac;
  top: 6%;
  left: 89%;
  animation-duration: 118s;
  animation-delay: -188s;
  transform-origin: -16vw 1vh;
  box-shadow: 2vmin 0 0.34625872539612823vmin currentColor;
}
.background span:nth-child(2) {
  color: #e45a84;
  top: 38%;
  left: 3%;
  animation-duration: 175s;
  animation-delay: -169s;
  transform-origin: -5vw 22vh;
  box-shadow: -2vmin 0 0.3881191808670925vmin currentColor;
}
.background span:nth-child(3) {
  color: #ffacac;
  top: 6%;
  left: 40%;
  animation-duration: 101s;
  animation-delay: -131s;
  transform-origin: -5vw 6vh;
  box-shadow: -2vmin 0 1.0822171192217187vmin currentColor;
}
.background span:nth-child(4) {
  color: #ffacac;
  top: 80%;
  left: 36%;
  animation-duration: 165s;
  animation-delay: -49s;
  transform-origin: 9vw 6vh;
  box-shadow: -2vmin 0 1.2148500404016356vmin currentColor;
}
.background span:nth-child(5) {
  color: #ffacac;
  top: 34%;
  left: 60%;
  animation-duration: 23s;
  animation-delay: -25s;
  transform-origin: 8vw 3vh;
  box-shadow: -2vmin 0 0.617213184017408vmin currentColor;
}
.background span:nth-child(6) {
  color: #e45a84;
  top: 58%;
  left: 33%;
  animation-duration: 88s;
  animation-delay: -127s;
  transform-origin: 11vw -10vh;
  box-shadow: 2vmin 0 0.44667300987645997vmin currentColor;
}
.background span:nth-child(7) {
  color: #e45a84;
  top: 48%;
  left: 70%;
  animation-duration: 121s;
  animation-delay: -45s;
  transform-origin: 4vw 6vh;
  box-shadow: -2vmin 0 0.540344984745758vmin currentColor;
}
.background span:nth-child(8) {
  color: #233faf;
  top: 3%;
  left: 5%;
  animation-duration: 74s;
  animation-delay: -97s;
  transform-origin: -21vw 6vh;
  box-shadow: 2vmin 0 0.8801714393773485vmin currentColor;
}
.background span:nth-child(9) {
  color: #e45a84;
  top: 29%;
  left: 77%;
  animation-duration: 18s;
  animation-delay: -112s;
  transform-origin: -2vw 25vh;
  box-shadow: -2vmin 0 0.49374803274165613vmin currentColor;
}
.background span:nth-child(10) {
  color: #e45a84;
  top: 5%;
  left: 98%;
  animation-duration: 113s;
  animation-delay: -110s;
  transform-origin: -11vw -7vh;
  box-shadow: 2vmin 0 1.0322540807157983vmin currentColor;
}
.background span:nth-child(11) {
  color: #e45a84;
  top: 7%;
  left: 78%;
  animation-duration: 114s;
  animation-delay: -162s;
  transform-origin: -2vw -1vh;
  box-shadow: -2vmin 0 0.6154420750350027vmin currentColor;
}
.background span:nth-child(12) {
  color: #233faf;
  top: 58%;
  left: 95%;
  animation-duration: 54s;
  animation-delay: -77s;
  transform-origin: 10vw -4vh;
  box-shadow: -2vmin 0 1.0248432234933862vmin currentColor;
}
.background span:nth-child(13) {
  color: #233faf;
  top: 40%;
  left: 44%;
  animation-duration: 30s;
  animation-delay: -114s;
  transform-origin: 25vw -16vh;
  box-shadow: 2vmin 0 0.708807819096219vmin currentColor;
}
.background span:nth-child(14) {
  color: #233faf;
  top: 100%;
  left: 26%;
  animation-duration: 138s;
  animation-delay: -75s;
  transform-origin: -24vw 23vh;
  box-shadow: 2vmin 0 0.6136371715131099vmin currentColor;
}
.background span:nth-child(15) {
  color: #233faf;
  top: 39%;
  left: 46%;
  animation-duration: 91s;
  animation-delay: -72s;
  transform-origin: -21vw -22vh;
  box-shadow: -2vmin 0 1.0780094634481048vmin currentColor;
}
.background span:nth-child(16) {
  color: #233faf;
  top: 93%;
  left: 61%;
  animation-duration: 66s;
  animation-delay: -112s;
  transform-origin: -1vw -18vh;
  box-shadow: -2vmin 0 0.47020249182583895vmin currentColor;
}
.background span:nth-child(17) {
  color: #583c87;
  top: 24%;
  left: 24%;
  animation-duration: 117s;
  animation-delay: -133s;
  transform-origin: 8vw 11vh;
  box-shadow: 2vmin 0 0.5493013103513424vmin currentColor;
}
.background span:nth-child(18) {
  color: #ffacac;
  top: 41%;
  left: 68%;
  animation-duration: 67s;
  animation-delay: -35s;
  transform-origin: -14vw 22vh;
  box-shadow: -2vmin 0 0.5345546680514435vmin currentColor;
}
.background span:nth-child(19) {
  color: #233faf;
  top: 91%;
  left: 37%;
  animation-duration: 72s;
  animation-delay: -96s;
  transform-origin: 17vw -14vh;
  box-shadow: -2vmin 0 0.7640552996200884vmin currentColor;
}

@media (max-width: 1000px) {
  main .hhh {
    display: grid;
  }
}
@media (min-width: 1001px) {
  main .hhh {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1001px) {
  .ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

ol,
ul {
  padding-left: 0rem;
}

@media (min-width: 1000px) {
  main .container .gridin {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
